/* *************************** */
/* GENERAL */
/* **************************** */

html {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Karla', sans-serif; 
    font-weight: 400;
    line-height: 1;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    font-family: Karla;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1.5px;
    line-height: 15.2px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 28.5px;
    border: 1.5px solid var(--color-purple);
    transition: color .3s, background-color .3s;
}

.btn--dark {
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn--dark:hover {
    color: var(--color-purple);
    background-color: var(--color-white);
}

/* *************************** */
/* VARIABLES */
/* **************************** */

:root {
    --color-black: #2D2641;
    --color-gray: #837D88;
    --color-purple: #2C2830;
    --color-blue: #96A9C6;
    --color-white: #fff;
}

/* *************************** */
/* JAVASCRIPT */
/* **************************** */

.js-lock-scroll {
    height: 100vh;
    overflow: hidden;
}

/* *************************** */
/* NAV SECTION */
/* **************************** */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 24px;
}

.nav__list {
    display: none;
    position: absolute;
    top: 100%;
    /* recurring value of 24px below is from padding on .nav, THE parent element; as is the 80px on height */
    left: -24px;

    list-style: none;
    height: calc(100vh - 80px);
    width: calc(100vw + 24px);
    background-color: var(--color-purple);
    background-image: url(images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 100%;

    z-index: 10;

    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-right: 24px;
    padding-left: calc(24px * 2);
    padding-top: 40px;
}

.nav__icon-toggle-box {
    border: none;
    /* height: 32px is fix for icon-hamburger's larger height shifting nav vertically */
    /* Can't figure out why it's shifting, though. It seems that the background seeps out
    when toggle button is showing, bg-color shows when it's the case */
    height: 32px;
}

.nav__icon--close {
    display: none;
}

.js-nav--open .nav__list {
    display: flex;
}

.js-nav--open .nav__icon--hamburger {
    display: none;
}

.js-nav--open .nav__icon--close {
    display: flex;
}

.nav__item {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav__link {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.36px;
    text-decoration: none;
    text-transform: uppercase;

    transition: color .3s;
}

.nav__link--cta {
    border-color: var(--color-white);
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    /* .nav--bg-color {
        background-color: var(--color-white);
    }
     */
    .nav {
        padding: 20px 0;
    }
    
    .nav__icon-toggle-box {
        display: none;
    }

    .nav__item {
        width: auto;
    }

    .nav__list {
        display: flex;
        justify-content: space-between;
        gap: 26px;

        flex-direction: row;
        background: none;
        padding: 0;
        position: unset;
        height: auto;
        width: auto;
    }

    .nav__link {
        color: var(--color-gray);
        font-size: 13px; 
        line-height: unset;
        letter-spacing: 1.5px;
        transition: color .3s;
    }

    .nav__link:hover {
        color: var(--color-purple);
    }

    .nav__link--cta {
        color: var(--color-purple);
        border-color: var(--color-purple);
        padding: 12px 28.5px;
        transition: color .3s, background-color .3s;
    }
    
    .nav__link--cta:hover {
        color: var(--color-white);
        background-color: var(--color-purple);
    }
}


/* *************************** */
/* HERO SECTION */
/* **************************** */

.section-header {
    color: var(--color-white);
    font-family: inherit;
    background-color: var(--color-purple);
}

.header__image-box {
    width: 100%;
    position: relative;
}

.hero-box {
    padding: 93px 24px 93px;
    text-align: center;
    /* overflow-y: visible; */
    position: relative;
}

.heading-1 {
    font-size: 48px;
    font-family: "DM Serif Display";
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.67px;

    position: relative;
    z-index: 1;

    margin-bottom: 16px;
}

.description {
    line-height: 26px;
}

.description--header {
    margin-bottom: 32px;
}

.header__left-design--mobile {
    position: absolute;
    top: 0;
    left: 0;
}

.header__right-design--mobile {
    position: absolute;
    right: 1px;
}

.header__right-design--desktop,
.header__left-design--desktop {
    display: none;
}

@media screen and (min-width: 1024px) {
    .section-header {
        position: relative;
        /* to hide top design */
        /* z-index: -1; */
        /* for abso designs */
    }

    .header__content {
        display: flex;
        flex-direction: row-reverse;
        padding: 105px 0 127px;
        justify-content: space-between;
    }

    .section-header {
        display: flex;
        flex-direction: row-reverse;
    }

    .hero-box {
        text-align: unset;
        padding: 0;
        max-width: 540px;
    }

    .hero-box::before {
        content: "";
        display: block;
        width: 150px;
        height: 1px;
        background-color: var(--color-white);

        margin-bottom: 63px;
    }

    .heading-1 {
        font-size: 72px;
        line-height: 64px;
        letter-spacing: -1px;
    }

    .description {
        line-height: 26px;
    }
    
    .description--header {
        margin-bottom: 24px;
    }

    .header__image-box {
        max-width: 540px;
    }

    .header__image {
        width: 100%;
        position: absolute;
    }

    .header__left-design--mobile,
    .header__right-design--mobile {
        display: none;
    }

    .header__left-design--desktop,
    .header__right-design--desktop {
        display: block;
        width: 100%;
    }

    .header__right-design--desktop {
        position: absolute;
        max-width: 697px;
        max-height: 649px;

        top: -140px;
        right: -122px;
    }
    }

    .header__left-design--desktop {
        position: absolute;
        display: none;
    }

}


/* *************************** */
/* ABOUT SECTION */
/* **************************** */


/* *************************** */
/* CTA SECTION */
/* **************************** */


/* *************************** */
/* FOOTER SECTION */
/* **************************** */
