*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 62.5%; */
    font-size: 50%;
}

body {
    font-family: 'Karla', sans-serif; 
    font-weight: 400;
    line-height: 1;
}

:root {
    --color-black: #2D2641;
    --color-gray: #837D88;
    --color-purple: #2D2641;
    --color-blue: #96A9C6;
    --color-white: #fff;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    /* padding: 0 16.5rem; */
}

.grid {
    display: grid;
    column-gap: 1.4rem;
    row-gap: 9.6rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.u-color-white {
    color: var(--color-white) !important;
}

.u-margin-bottom {
    margin-bottom: 4.5rem !important;
}

/* font-family: 'DM Serif Display', serif; 
    400 */
/* font-family: 'Karla', sans-serif; 
    400 & 700 */



/* *************************** */
/* NAV SECTION */
/* **************************** */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    padding: 2.8rem 3.2rem;
}

/* .header__logo {

} */

.header__nav-list {
    display: flex;
    gap: 3rem;
}

/* .header__nav-item {

} */

.header__nav-link:link,
.header__nav-link:visited {
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--color-gray)
}


/* *************************** */
/* HERO SECTION */
/* **************************** */

.section-hero {
    background-color: var(--color-purple);
    padding: 9.6rem 0 14rem 0;
    position: relative;
}

.section-hero::after {
    content: url(images/bg-pattern-intro-right-desktop.svg);
    position: absolute; 
    top: -10rem;
    right: 0;
    width: 62rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary,
.cta__heading {
    font-size: 7.2rem;
    letter-spacing: .4rem;
    font-family: 'DM Serif Display', serif; 
    letter-spacing: -0.1rem;
    font-weight: 400;
    position: relative;
}

.heading-primary {
    margin-bottom: 3rem;
}

.first-word {
    display: block;
}

.heading-primary::before,
.heading-secondary::before {
    content: "";
    display: block;
    width: 15rem;
    height: .1rem;
    margin-bottom: 5rem;
}

.heading-primary::before {
    border-bottom: .1rem solid var(--color-white);
}

.heading-secondary::before {
    border-bottom: .1rem solid var(--color-gray);
}

.body-text {
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
    line-height: 1.9;
    color: var(--color-gray)
}

.btn:link,
.btn:visited {
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    letter-spacing: .2rem;
    border: .2rem solid;
}

.btn--dark:link,
.btn--dark:visited {
    color: var(--color-white);
    border-color: currentColor;
}

.btn--light:link,
.btn--light:visited {
    color: var(--color-black);
    border-color: currentColor;
}

.hero__image-box {
    position: relative;
}

.hero__image {
    position: absolute;
    width: 100%;
}


/* *************************** */
/* ABOUT SECTION */
/* **************************** */

.section-about {
padding: 34rem 0 9rem;
}

.different__icon {
    height: 8.4rem;
    width: 8.4rem;
    margin-bottom: 4rem;
}

.heading-secondary {
    margin-bottom: 9.8rem;
}

.heading-tertiary {
    font-size: 3.4rem;
    margin-bottom: 2.5rem;
}

/* *************************** */
/* CTA SECTION */
/* **************************** */

.section-cta {
    padding: 9.6rem 0 18rem;
}

.cta__pane {
    background-color: var(--color-purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11rem 11rem;
}

.cta__heading {
    font-size: 5.6rem;
}

/* *************************** */
/* FOOTER SECTION */
/* **************************** */

.footer {
    padding: 9.6rem 0;
    background-color: #FAFAFA;
}

.footer__pane-top {
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 2.5rem;
    border-bottom: .1rem solid #979797; */
}

.footer__test-border::after {
    content: "";
    display: block;
    border-bottom: .1rem solid var(--color-black);
    margin: 4rem 0;
}

.footer__social-pane {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    align-items: center;
}

.footer__social-media-icon {
    height: 2.2rem;
    width: 2.2rem;
}

/* .footer__greater-links {
    padding-top: 3.8rem;
    font-size: 1.2rem;
} */

.footer__nav-col {
    text-transform: uppercase;
    font-weight: 700;
}

.footer__nav-title {
    display: block;
    color: var(--color-gray);
    margin-bottom: 3rem;
}

.footer__nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.footer__nav-link {
    text-decoration: none;
    color: var(--color-black);
}